html {
  background-color: #37517e;
  margin: 0px;
  padding: 0%;
}


 .image {
  margin-left: 800px;
  padding-bottom: 0%;
  position: relative;
  width: 100%;
  height:auto;
  top: 30%;
  right: 0;
  transform: translate(0, -50%);
 }
  

.button-button{
  background-color: #4591c3; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
 
.row {
  background-color: #37517E;
}


.row::after { 
  float: left;
  content: none;
  clear: both;
  display: table;
}

.colum2 {
  color: rgb(255, 255, 255);
  float: left;
  width: 400px;
  /* padding: 10px; */
  margin: 200px 100px 40px 70px;
  padding-top: 300px;

  
}

/* .header-styling {  */
  /* background-color: rgb(245, 245, 245); */

  .font-styling {
    background-color: #ffffff;
    color: #37517E;
    text-align: center;
    font-size: 15px;
    margin-top: auto;
  
  }

.button-container {
  display: flex; 
  justify-content: center; 
  height: 6vh; 
}

.subscribe-button {
  background-color: #2f69bb;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 25px;
}


li a{
  float: left;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-align: none;
}

.colum {
  float: left;
  width: 400px;
  padding: 10px;
  margin: 100px 100px 40px 50px;
}

#cards{
    margin: 0 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#cards #card {
    padding: 30px;
    margin: 10px;
    text-align: center;
    color: var(--hitam);
    border: 2px solid var(--hitam);
    background-color: var(--putih);
    transition: 0.5s;
}

#cards #card  {
    margin-top: 10px;
    background-color: var(--putih);
}

.lingkaran1{
  width: 30px;
  height: 30px;
  background: #47B2E4;
  ;
  border-radius: 100%;
  display: inline-block;
}
.lingkaran2{
  width: 30px;
  height: 30px;
  background: #47B2E4;
  border-radius: 100%;
  display: inline-block;
}

.lingkaran3{
  width: 30px;
  height: 30px;
  background: #47B2E4;
  border-radius: 100%;
  display: inline-block;
}

.lingkaran4 {
  width: 30px;
  height: 30px;
  background: #47B2E4;
  border-radius: 100%;
  display: inline-block;
}

/*hover*/
.cards .card:hover {
  transform:translateY(-10px) ;
  box-shadow: 0 10px 10px var(--hitam);
}

/* footer*/
.footer {
  background-color: #ffffff;
  padding: auto;
}

.copy {
  background-color: #37517E;
  color: #fdfeff;
  text-align: center;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */